.onboarding form input::-webkit-outer-spin-button,
.onboarding form input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.onboarding form input[type="radio"]:checked + label {
  border: solid 2px #0287BF;
  background-color: #E1E9F4;
}

.check-cont {
  display: block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.check-cont input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: rgb(255, 255, 255);
  border: 1px solid #2f2e41;
  border-radius: 8px;
}

.check-cont:hover input ~ .checkmark {
  background-color: #E1E9F4;
}

.check-cont input:checked ~ .checkmark {
  background-color: #0287BF;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.check-cont input:checked ~ .checkmark:after {
  display: block;
}

.check-cont .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.hide-scroll::-webkit-scrollbar { 
  display: none;
}